table ,td{
    border: 1px solid white;
   
    margin: 0 auto;
}
td{
    padding: 5px;
    padding-right: 200px;
}
.blue{
    background-color: rgba(31, 117, 238, 0.84);
    color: white;
    font-weight: bold;
    
}
.grey{
    background-color: rgb(143, 191, 230);
}
.ochgrey{
    background-color: rgba(208, 232, 243, 0.858);
}
.yashilramka{
    border: 1px solid green;
    padding: 4px;
    font-weight: bold;

    
    
}
h1{
    text-align: center;
    font-size: 100px;
    font-family: sans-serif;
}